{
	"bot_account": {
		"username": "Your OSM username for a bot account",
		"password": "xxx"
		# "script_client_id": "xxx",
		# "script_secret": "xxx",
		# "token": {"access_token": "xxx", "token_type": "Bearer", "scope": ["write_api", "write_notes"], "created_at": xxx}
	},
	"human_account": {
		"username": "Your OSM username for a human operated account",
		"password": "xxx"
	}
}
